{% extends "base.html" %}

{% block content %}
<h1>{{ title }} Table</h1>
<h6 class="muted">{{ subtitle }}</h6>
<hr>

<div class="container">
	<div id="table-wrapper">
		<table class="table table-dark table-bordered table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<!--<th scope="col"><a href="?order_by=virus">V Gene</a></th>-->
					<th scope="col">V Gene</th>
					<th scope="col">H Gene</th>
					<th scope="col">Strain</th>
					<th scope="col">Interaction Type</th>
					<th scope="col">{{ annotation }}</th>
					{% if annotation == "Gene_Ontology" %}
					<th scope="col">Ontology Type</th>
					<th scope="col">Ontology Description</th>
					{% elif annotation == "KEGG" %}
					<th scope="col">Pathway Description</th>
					{% endif %}
				</tr>
			</thead>
			<tbody id="table-body">
				{% for line in page_obj %}
						<tr>
						<th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
						<td>{{ line.virus }}</td>
						<td><a href="https://www.ncbi.nlm.nih.gov/search/all/?term={{ line.host }}" target="_blank" rel="noopener noreferrer">{{ line.host }}</a></td>
						<td>{{ line.strain }}</td>
						<td>{{ line.interaction }}</td>
					{% if annotation == "KEGG" %}
						<td><a href="https://www.genome.jp/pathway/{{ line.KEGG }}" target="_blank" rel="noopener noreferrer">{{ line.KEGG }}</a></td>
						<td>{{ line.KEGG_Description }}</td>
					{% elif annotation == "Gene_Ontology" %}
						<td><a href="http://amigo.geneontology.org/amigo/term/{{line.GO}}" target="_blank" rel="noopener noreferrer">{{ line.GO }}</a></td>
						<td>{{ line.GO_Type }}</td>
						<td>{{ line.GO_Description }}</td>
					{% elif annotation == "localization" %}
						<td>{{ line.localization }}</td>
					{% elif annotation == "tissue_expression" %}
						<td><a href="https://gtexportal.org/home/gene/{{ line.host }}" target="_blank" rel="noopener noreferrer">{{ line.tissue_expression }}</a></td>
					{% endif %}
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
	<div class="container pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
<hr>
<div class="container">
<a class="btn btn-primary" href="{% url 'main:network' result_id %}">To Network</a>
<a class="btn btn-primary" href="{{ file.url }}" download>To File</a>
<!--<a type = "button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Filter Table</a>-->
</div>

<div class="modal fade" id="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Filter Table</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
					<span>&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form action="#" method="get">
					<div class="form-group">
						<label for="filter-virus">Virus</label>
						<input type="text" class="form-control" id="filter-virus" name="filter-virus" placeholder="Enter Virus IDs, comma separated">
					</div>

                    <div class="form-group">
                        <label for="filter-host">Host</label>
                        <input type="text" class="form-control" id="filter-host" name="filter-host" placeholder="Enter Host IDs, comma separated">
                    </div>

					<div class="form-group">
						<label for="filter-strain">Strain</label>
						<select class="form-select" multiple id="filter-strain" name="filter-strain">
							<option>All</option>
							<option>B.1.1.7</option>
							<option>B.1.351</option>
							<option>B.1.427</option>
							<option>B.1.525</option>
							<option>B.1.526</option>
							<option>B.1.617</option>
							<option>B.1.617.2</option>
							<option>B.1.617.3</option>
							<option>B.1.621</option>
							<option>P.1</option>
							<option>P.2</option>
							<option>Reference</option>
						</select>
					</div>

					<div class="form-group">
						<label for="filter-interaction">Interaction Type</label>
						<select class="form-select" id="filter-interaction" name="filter-interaction">
							<option>Interolog</option>
							<option>Domain</option>
							<option>Both</option>
						</select>
					</div>

					
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<input type="submit" class="btn btn-primary" value="Filter">

				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
